@media (min-width: 400px) {
  .nav-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style-position: inside;
    list-style-type: none;
    margin-bottom: 20px;
  }
}

@media (min-width: 700px) {
  .nav-container ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-position: inside;
    list-style-type: none;
    margin-bottom: 20px;
  }
}
